.banner-block {
  background: url(../images/main-banner.png) no-repeat center;
  min-height: 390px;
  text-align: center;
  position: relative;

  .text-banner-content-1 {
    position: absolute;
    right: 0%;
    top: 23.5%;

    .text-banner-1 {
      font-family: 'arvobold', sans-serif;
      font-size: 43.36px;
      background-color: #f8c301;
      line-height: 0.6;
      height: 30px;
    }
    .text-banner-1:before {
      content: "[";
      color: #fff;
      position: absolute;
      left: -9px;
      top: -1px;
    }
    .text-banner-2 {
      font-family: 'arvobold', sans-serif;
      font-size: 43.36px;
      background-color: #f8c301;
      margin-top: 8%;
      line-height: 0.6;
      width: 62%;
      height: 30px;
    }
    .text-banner-2:after {
      content: "]";
      color: #fff;
      position: absolute;
      right: 104px;
      top: 52px;
    }
  }
  .text-banner-content-2{

    .text-banner-3 {
      font-family: 'arvoitalic', sans-serif;
      font-size: 20px;
      background-color: #000;
      color: #f8c301;
      width: 10%;
      position: absolute;
      right: 14.5%;
      bottom: 38%;
      a {
        color: #f8c301;
        text-decoration: none;
      }
      a:hover {

      }
    }
  }
  .text-banner-content-2:before {
    content: "[";
    color: #ffffff;
    font-family: 'arvoregular', sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 36%;
    right: 24.2%;
  }
  .text-banner-content-2:after {
    content: "]";
    color: #ffffff;
    font-family: 'arvoregular', sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 36%;
    right: 14%;

  }

}

