.banner-rooms {
  .banner-rooms-row {
    .banner-rooms-column {
      position: relative;
      .bg-kitchen{
        background: url(../images/kitchen-room.png) no-repeat -113px 0px;
        background-size: cover;
        min-height: 296px;
        position: relative;
      }
      .bg-beedroom{
        background: url(../images/beedroom.png) no-repeat -136px 0px;
        background-size: cover;
        min-height: 296px;
        position: relative;
      }
      .text-1, .text-2, .text-3{
        font-size: 30px;
        font-family: arvobold, sans-serif;
        background-color: #fff;
        position: absolute;
        height: 9%;
        line-height: 1;
      }
      .text-1 {
        content: '[';
        top: 29%;
        right: 3.5%;
        width: 56%;
      }
      .text-2 {
        content: ']';
        top: 42%;
        right: 3.5%;
      }
      .text-3{
        content: ']';
        top: 42%;
        right: 3.5%;
      }
      .block-front-banner-rooms:hover {
        opacity: 0.8;
        color: transparent;
      }
      .block-front-banner-rooms {
        z-index: 1001;
        background-color: #f2bf01;
        transition: all 0.4s ease-in-out 0s;
        opacity: 0;
        color: white;
        cursor: pointer;
        position: absolute;
        width: 97.2%;
        height: 100%;
        top: 0;
        text-align: center;
      }
    }
    .h-bottom-room:before {
      content:url("../images/b-r-w.png");
      top: -2%;
      right: 92%;
      position: absolute;
    }
    .h-bottom-room{
      font-family: 'arvoitalic', sans-serif;
      font-size: 20px;
      background-color: #f8c301;
      color: #000;
      width: 18%;
      position: absolute;
      right: 18%;
      bottom: 29%;
      text-align: center;
      a{
        color: #000;
        text-decoration: none;
      }
    }
    .h-bottom-room:after {
      content: url("../images/b-l-w.png");
      top: -5%;
      right: -2%;
      position: absolute;
    }
    ////div.block-front-text {
    //  span.label-banner-rooms-h1 {
    //    //font-family: 'arvobold';
    //    font-size: 30px;
    //    color: #000;
    //    position: absolute;
    //    top: 23%;
    //    right: 0;
    //    background-color: #fff;
    //    width: 37%;
    //    height: 9.5%;
    //    line-height: 1;
    //    opacity: 1;
    ////  }
    //  span.label-banner-rooms-h1:before {
    //    content: url("../images/b-l-banner-rooms.png");
    //    position: absolute;
    //    top: -1%;
    //    right: 96%;
    //
    //  }
    //  span.label-banner-rooms-h2:after {
    //    content: url("../images/b-r-banner-room.png");
    //    position: absolute;
    //    top: -1%;
    //    right: -3%;
    //
    //  }
  }
}

