
.delivery {
  width: 100%;
  background-color: #000;
  text-align: center;
  min-height: 30px;
  line-height: 2;

  .content-delivery {
    vertical-align: middle;
    display: inline-block;
  }
  .text-delivery {
    color: #f8c301;
    text-decoration: none;
    font-size: 12px;
    font-family: arvoregular, sans-serif;
    letter-spacing: 2px;

  }
  .text-delivery:before {
    content: url("../images/car-delivery.png");
    position: absolute;
    top: 31%;
    left: 38%;
  }
  .text-delivery:after {
    content:'*';
    color: #fff;

  }
}