footer {
  position: relative;
  margin-bottom: 2%;
  .footer:before {
    content: "";
    width: 97.5%;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -4%;
    left: 1.2%;
  }
  .footer {
    font-family: 'arvobold', sans-serif;
    font-size: 16px;
    margin-top: 3%;
    div.margin-r {
      margin: 0 1% 0 1.2%;
    }
    .col-display {
      vertical-align: top;
      display: inline-block;
    }
    .col-footer-1-2 {
      width: 15%;
      display: inline-block;
      .list-1-2 {
        div.el-padding {
          padding-top: 11%;
        }
        .el {
          font-family: "MR", sans-serif;
          font-size: 13px;
          padding-top: 3.1%;
        }
      }
    }
  }
  .col-footer-3 {
    width: 20.5%;
    margin-right: 1%;
    //.icon-visa{
    //  background: url('../images/sprite-5el.png') no-repeat -1px -9px;
    //  width: 48px;
    //  height: 15px;
    //  display: inline-block;
    //}
    //.icon-master{
    //  background: url('../images/sprite-5el.png') no-repeat -63px -2px;
    //  width: 52px;
    //  height: 31px;
    //  display: inline-block;
    //}

    .sprites-5el:after {
      width: 48px;
      height: 28px;
      background-position: 0 0;
    }
    .sprites-5el ul {
      display: inline-block;
      margin-top: 4%;
      li {
        width: 65px;
        display: inline-block;
        margin-top: 3%;
        a {
          width: 55px;
          height: 51px;
          display: block;
          background-color: #fff;
          text-align: center;
        }
        a:after {
          background-image: url('../images/sprite.png');
          content: '';
          display: inline-block;
          vertical-align: middle;
        }
        a:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
        .icon-visa:after {
          width: 48px;
          height: 28px;
          background-position: 0 0;
        }
        .icon-master:after {
          width: 53px;
          height: 34px;
          background-position: -72px 0;
        }
        .icon-diners:after {
          width: 51px;
          height: 37px;
          background-position: -141px 0;
        }
        .icon-amex:after {
          width: 48px;
          height: 44px;
          background-position: 4px -44px;
        }
        .icon-boleto:after {
          width: 54px;
          height: 32px;
          background-position: -66px -53px;
        }
      }
    }
  }
  .col-footer-4 {
    width: 21%;
    margin: 0 0.3% 0 1%;
    .icon-ebit {
      width: 83px;
      height: 89px;
      background-position: 0 100%;
      background-image: url("../images/sprite-2el.png");
      background-size: 259.03%, 117.97%;
      display: inline-block;
      margin-top: 3%;
    }
    .icon-fcontrol {
      width: 112px;
      height: 105px;
      background: url("../images/sprite-2el.png");
      background-position: 97.08% 100%;
      background-size: 191.96% 100%;
      margin-top: 3%;
      display: inline-block;
    }
  }

  div.col-footer-5 {
    width: 21.5%;
    text-align: center;
    background-color: #f6f6f6;
    margin-left: 0.2%;
    position: relative;
    .form-check-in {
      .form-text {
        font-family: "MR", sans-serif;
        font-size: 13px;
        color: #3e3e3e;
        padding: 7% 0 7% 0;
      }
      .input-position {
        position: relative;
      }
      .check-input {
        width: 80%;
        margin-bottom: 7%;
        padding: 3% 0 3% 3%;
        font-family: "MLI", sans-serif;
        font-size: 12px;
        color: #606060;
        border: none;
      }
      .form-name-bracket-l {
        position: absolute;
        top: 36.5%;
        left: 7.5%;
        height: 40px;
      }
      .form-name-bracket-r {
        position: absolute;
        top: 36.5%;
        right: 9%;
        height: 40px;
      }
      .form-e-mail-bracket-l {
        position: absolute;
        top: 57%;
        left: 8%;
        height: 39px;
      }
      .form-e-mail-bracket-r {
        position: absolute;
        top: 57%;
        right: 9%;
        height: 40px;
      }
      .footer-button {
        background-color: #f8c301;
        border: none;
        width: 82%;
        height: 32px;
        margin-bottom: 23px;
        //padding: 0 26% 0 25.7%;

      }
      .footer-button-b-l {
        position: absolute;
        top: 77.5%;
        height: 14%;
        left: 8.3%;
      }
      .footer-button-b-r {
        position: absolute;
        top: 77.5%;
        right: 9%;
        height: 14%;
      }
    }
  }
}
