.btn-group {
  margin-bottom: 0.1%;
  display: block;

  .navigation {
    background-color: #f8c301;
    min-height: 36px;
    text-align: center;
    display: inline-block;
    .link-padding{
      padding-left: 14%!important;
    }
    .link-1, .link-2, .link-3, .link-4 {
      text-decoration: none;
      display: inline-block;
      color: #000;
      font-size: 16px;
      font-family: MEB, sans-serif;
      word-spacing: 5px;
      padding-top: 1%;
      padding-left: 5%;
    }
    span .el-link:active {
      content: '';
      width: 50px;
      height: 20px;
      background-color: #fff;
      bottom: 0;
      position: absolute;
    }
    ul.dropdown-menu {
      width: 100%;
      opacity: 0.5;
      background-color: #fff;
      margin: 0 auto;
      border-radius: 0;
      box-shadow: none;
      border: 0;
      left: 1%;

      li.dropdown-col-1 {
        display: inline-block;
        padding-left: 4%;
        padding-top: 1%;
        padding-bottom: 1.8%;

        ul.dropdown-list {
          list-style-type: none;

          li.dropdown-list-el {
            padding-top: 6px;

            a.subcategoria-style {
              font-family: "MR";
              font-size: 15px;
              padding-top: 0.4%;
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }
      li.dropdown-col-2 {
        display: inline-block;
        padding-left: 6%;
        padding-top: 1%;
        padding-bottom: 1.8%;
        position: absolute;
        top: 2%;

        ul.dropdown-list {
          list-style-type: none;

          li.dropdown-list-el {
            padding-top: 6px;

            a.subcategoria-style {
              font-family: "MR";
              font-size: 15px;
              padding-top: 0.4%;
              color: #000000;
              text-decoration: none;
            }
          }
        }
      }
      li.dropdown-col-3 {
        display: inline-block;
        padding-left: 4%;
        padding-top: 1%;
        padding-bottom: 1.8%;
        position: absolute;
        top: 11%;
        right: 3.5%;

        div.img-col-3 {

          img {
            width: 226px;
            padding-left: 4%;
          }
        }

      }
    }
  }
  .ofertas-block {
    background-color: black;
    display: inline-block;
    text-align: center;
    padding: 6px;
    .ofertas {
      text-align: center;
      text-decoration: none;
      font-size: 17px;
      font-family: MEB, sans-serif;
      color: #f8c301;
    }
  }
}



