@media (min-width: 768px) {
  header {
    display: table;
    width: 100%; }
    header .delivery {
      display: table-footer-group; }
      header .delivery .content-delivery {
        width: 100%;
        text-align: left; }
        header .delivery .content-delivery .text-delivery {
          padding-left: 6%; }
        header .delivery .content-delivery .text-delivery:before {
          position: absolute;
          top: 24%;
          left: 3%; }
    header .btn-group {
      display: none; }
    header .header-content {
      display: table-header-group; }
      header .header-content .navbar-header {
        display: inline-block; }
        header .header-content .navbar-header .menu-button {
          display: inline-block; }
          header .header-content .navbar-header .menu-button .icon-bar {
            background-color: #000000; }
      header .header-content .conteiner-logo .logo-img {
        height: 36px;
        width: 154px;
        vertical-align: text-top;
        margin-top: 1%; }
      header .header-content .my-score {
        display: none; }
      header .header-content .basket-home {
        display: none; }

  .search {
    display: none; }

  .basket-elements {
    display: none; }

  body .row .banner-block {
    min-height: 257px;
    text-align: right; }
    body .row .banner-block .text-banner-content-2 {
      right: 13%; }
  body .row .banner-rooms .products .row .col-products .product {
    height: 172px; }
  body .row .banner-rooms .banner-rooms-row {
    margin-left: -30px; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .bg-kitchen {
      background: url(../images/kitchen-room.png) no-repeat;
      background-size: 100% 100%;
      height: 223px;
      position: relative; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .bg-beedroom {
      background: url(../images/beedroom.png) no-repeat;
      background-size: 100% 100%;
      height: 223px;
      position: relative; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-1, body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-2, body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-3 {
      font-size: 30px;
      font-family: arvobold, sans-serif;
      background-color: #fff;
      position: absolute;
      height: 10%; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-1, body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-2, body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-3 {
      line-height: 22px; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-1 {
      top: 29%;
      right: 3.5%;
      width: 56%; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-2 {
      top: 42%;
      right: 3.5%;
      width: 21%; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-3 {
      width: 50%; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-1:before {
      font-size: 24px;
      top: -2px; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-2:after {
      font-size: 24px;
      top: -2px; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .text-3:after {
      font-size: 24px;
      top: -2px; }
    body .row .banner-rooms .banner-rooms-row .banner-rooms-column .ver-mais {
      bottom: 35%;
      right: 4%; }
  body .row .textile {
    padding-right: 0px; }
    body .row .textile .pillow-textile {
      padding-top: 0px;
      padding-right: 0px; }
      body .row .textile .pillow-textile .img-textile {
        height: 270px; }
    body .row .textile .street-textile {
      padding-top: 0px;
      padding-right: 0px; }
      body .row .textile .street-textile .img-textile {
        height: 270px; }
    body .row .textile .bathroom-textile {
      padding-top: 0px;
      padding-right: 0px; }
      body .row .textile .bathroom-textile .img-textile {
        height: 270px; }

  .footer .list-lorem {
    display: none; }
  .footer .panel-group {
    padding: 0 0 0 0;
    margin: 3% 0 3% 0; }
  .footer .form-check-in {
    float: right;
    padding-top: 0px; }
  .footer .text-formas {
    font-family: 'arvobold', sans-serif; }
  .footer .sprites-2el {
    padding-top: 0px;
    margin-top: 0%;
    border: none;
    padding-left: 0%; }
  .footer .sprites-5el {
    padding-left: 0%; }
    .footer .sprites-5el .sprites-div {
      margin-top: 6%; }
  .footer .text-after-sprites {
    text-align: left;
    margin-top: 0.5%; }
  .footer .volte {
    display: none; } }

/*# sourceMappingURL=tablet-custom.css.map */
