@media (min-width: 320px) {
  header {
    display: table;
    width: 100%; }
    header .content-delivery {
      width: 100%;
      text-align: center;
      position: relative; }
      header .content-delivery .text-delivery {
        padding-left: 7%; }
      header .content-delivery .text-delivery:before .text-delivery {
        padding-left: 7%; }
      header .content-delivery .text-delivery:before {
        position: absolute;
        top: 24%;
        left: 2%; }

  .btn-group {
    display: none; }

  .header-content {
    display: table-header-group; }
    .header-content .menu-button {
      display: inline-block;
      float: left; }
      .header-content .menu-button .icon-bar {
        background-color: #000000; }
    .header-content .search {
      display: none; }
    .header-content .basket-elements {
      display: none; }
    .header-content .conteiner-logo {
      text-align: center; }
    .header-content img {
      height: 46px;
      width: 155px; } }
@media (min-width: 768px) {
  header {
    display: table;
    width: 100%; }
    header .delivery {
      display: table-footer-group; }
      header .delivery .content-delivery {
        width: 100%;
        text-align: left; }
        header .delivery .content-delivery .text-delivery {
          padding-left: 6%; }
        header .delivery .content-delivery .text-delivery:before {
          position: absolute;
          top: 24%;
          left: 4%; }
    header .btn-group {
      display: none; }
    header .header-content {
      display: table-header-group; }
      header .header-content .navbar-header .menu-button {
        display: inline-block; }
        header .header-content .navbar-header .menu-button .icon-bar {
          background-color: #000000; }
      header .header-content .conteiner-logo {
        text-align: center; }
      header .header-content .search {
        display: none; }
      header .header-content .basket-elements {
        display: none; }
    header img {
      height: 39px;
      width: 155px; } }
@media (min-width: 992px) {
  header {
    display: block;
    width: 100%; }
    header .delivery {
      display: block;
      width: 100%;
      text-align: center;
      min-height: 30px;
      line-height: 2; }
      header .delivery .content-delivery {
        vertical-align: middle;
        display: inline-block;
        text-align: center; }
        header .delivery .content-delivery .text-delivery {
          padding-left: 7%; }
        header .delivery .content-delivery .text-delivery:before {
          position: absolute;
          top: 4%;
          left: 42.5%; }
    header .btn-group {
      display: block; }
    header .header-content {
      min-height: 82px;
      position: relative; }
      header .header-content .navbar-header {
        display: block; }
        header .header-content .navbar-header .menu-button {
          display: none; }
          header .header-content .navbar-header .menu-button .icon-bar {
            background-color: #000000; }
      header .header-content .search {
        display: block; }
      header .header-content .basket-elements {
        display: inline-block; }
      header .header-content .conteiner-logo {
        text-align: left; }
        header .header-content .conteiner-logo logo-img {
          height: 15px;
          width: 20px; } }

/*# sourceMappingURL=tablet-custom.css.map */
