@media all and (max-width: 768px) {
  header {
    display: table;
    .delivery {
      display: table-footer-group;
    }
    .btn-group {
      display: none;
    }
    .header-content {
      display: table-header-group;
    }
  }
  .body{
    .products, .banner-rooms{
      display: inline-block;
      width: 48%;
    }
  }
}
