@font-face {
font-family: 'arvobold';
    src: url('arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arvobold_italic';
    src: url('arvo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arvoitalic';
    src: url('arvo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arvoregular';
    font-family: 'arvoregular'; src: url('arvo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}