/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "MLI";
    src: url("MerriweatherSans-LightItalic.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "MR";
    src: url("MerriweatherSans-Regular.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "MEB";
    src: url("MerriweatherSans-ExtraBold.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}